.cards {
    max-width: 880px;
    margin: 0 auto;
    padding-bottom: 66px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 879px) {
    .cards {
        max-width: 282px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding-bottom: 48px;
    }
}
