.profile__add-button {
    background-image: url(../../../images/plus.svg);
    width: 150px;
    height: 50px;
    background-color: #000000;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    padding: 0;
}

.profile__add-button:hover {
    opacity: 0.5;
    transition: opacity 0.4s ease;
    cursor: pointer;
  }

  @media screen and (max-width: 879px) {
    .profile__add-button {
        width: 282px;
        background-size: 16px 16px;
    }
  }